@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Search Books</h1>
<form asp-controller="Books" asp-action="Index" class="row">
    <div class="col-10">
        <input class="form-control" type="text" place name="SearchString" />
    </div>
    <div class="col-2">
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
    
</form>
@{
    if(Model?.Any()??false)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <img src="data:image/jpg;base64,@item.Image" width="120px" height="120px" />
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>

        </div>
    }
}
